# To analyse two MUTUAL FUND portfolios
    
   + Compare mautual fund investments
   + Identify new investments made and sell offs

In [11]:
import pandas as pd
import numpy as np
import re
import datetime
import logging
import glob
from collections import OrderedDict

logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

In [12]:
files = glob.glob("data/*.xls")

In [13]:
month_pat = re.compile(r'january|february|march|april|may|june|july|august|september|october|november|december')
year_pat = re.compile(r'20\d\d')

In [14]:
for f in files:
    print(f)
    month = re.findall(month_pat,f)
    year = re.findall(year_pat,f)
    print(month,year)

data\monthly-portfolio-as-on-29th-february-2020.xls
['february'] ['2020']
data\monthly-portfolio-as-on-30th-april-2019.xls
['april'] ['2019']
data\monthly-portfolio-as-on-30th-june-2019.xls
['june'] ['2019']
data\monthly-portfolio-as-on-30th-november-2019.xls
['november'] ['2019']
data\monthly-portfolio-as-on-31-october-2019.xls
['october'] ['2019']
data\monthly-portfolio-as-on-31st-august-2019.xls
['august'] ['2019']
data\monthly-portfolio-as-on-31st-december-2019.xls
['december'] ['2019']
data\monthly-portfolio-as-on-31st-january-2020.xls
['january'] ['2020']
data\monthly-portfolio-as-on-31st-july-2019-new.xls
['july'] ['2019']
data\monthly-portfolio-as-on-31st-march-2019.xls
['march'] ['2019']
data\monthly-portfolio-as-on-31st-may-2019.xls
['may'] ['2019']
data\monthly-portfolio-as-on-february-2019.xls
['february'] ['2019']
data\monthly-portfolio-as-on-january-2019.xls
['january'] ['2019']
data\monthly_portfolio_in_half_yearly_format_as_on_30_sept_2019.xls
[] ['2019']

In [15]:
month_order = OrderedDict()
month_order['january']= 1
month_order['february']= 2
month_order['march']= 3
month_order['april']= 4
month_order['may']= 5
month_order['june']= 6
month_order['july']= 7
month_order['august']= 8
month_order['september']= 9
month_order['october']= 10
month_order['november']= 11
month_order['december']= 12

In [16]:
df_new = pd.ExcelFile('data//monthly-portfolio-as-on-29th-february-2020.xls')
df_old = pd.ExcelFile('data//monthly-portfolio-as-on-31st-january-2020.xls')

In [17]:
sheet_new = df_new.sheet_names
sheet_old = df_old.sheet_names

In [18]:
date_pat1 = re.compile(r'\d\d-\d\d-\d{2,4}')
date_pat2 = re.compile(r'\d\d/\d\d/\d{2,4}')
def date_extract(df):
    date_loc = df.iloc[3:4,1]
    date_loc1 = re.findall(date_pat1, str(date_loc))
    date_loc2 = re.findall(date_pat2, str(date_loc))
    if len(date_loc1) != 0:
        logger.debug("%s",date_loc1)
        date = datetime.datetime.strptime(date_loc1[0], "%d-%m-%y")
        return date
    elif len(date_loc2) != 0:
        logger.debug("%s",date_loc2)
        date = datetime.datetime.strptime(date_loc2[0], "%d/%m/%y")
        return date
    else:
        date = 'Null'
        return date

In [95]:
def create_df(df, month_date):
    qty = 'Quantity_'+month_date
    mkt_val = 'Market_val_'+month_date
    nav = 'pnav_'+month_date
    dftmp = df.iloc[8:,1:7]
    dftmp = dftmp.rename(columns = {df.columns[1]:'Stock_Name', 'Unnamed: 2' : 'INDUSTRY', 'Unnamed: 3' : 'ISIN Code',
       'Unnamed: 4' : qty, 'Unnamed: 5' : mkt_val, 'Unnamed: 6': nav })
    return dftmp, qty, mkt_val, nav

In [61]:
def find_change(new, old):
    try:
        old = int(old)
        new = int(new)
        if old==0:
            return "New"
        elif new == 0:
            return "Sold"
        elif old > new:
            return "Decrease"
        elif old == new:
            return "No Change"
        elif old < new:
            return "Increase"
    except Exception:
        return "NA"

In [60]:
def find_act_change(new, old):
    try:
        old = int(old)
        new = int(new)
        if old == 0:
            return 100
        elif new == 0:
            return 0
        else:
            chg = abs(new - old)*100/ old
            return int(chg)
    except Exception:
        return "NA"

In [78]:
try:
    sheet_name = 'Index'
    df_temp1 = df_new.parse(sheet_name)
    df_temp2 = df_old.parse(sheet_name)
    df_temp1 = df_temp1[df_temp1['Index'] == 'Equity']
    df_temp2 = df_temp2[df_temp2['Index'] == 'Equity']
    sheet_names_new = df_temp1['Unnamed: 1'].tolist()
    sheet_names_old = df_temp2['Unnamed: 1'].tolist()
except Exception:
    print("Error")

In [98]:
writer = pd.ExcelWriter('MutualFund_Analysis.xlsx', mode='w')
for name in sheet_names_new:
    if name in sheet_names_old:
        print(name)
        df1 = df_new.parse(name)
        df2 = df_old.parse(name)
        date1 = date_extract(df1)
        month_date1 = str(date1.month)+'_'+str(date1.day)
        logging.debug(" Month df1 : %s",month_year1)
        date2 = date_extract(df2)
        month_date2 = str(date2.month)+'_'+str(date2.day)
        logging.debug(" Month df2 : %s",month_year2)
        assert(date1.month - date2.month == 1)
        logging.debug("Assertion correct")
        dftmp1, qty1, mkt1, pnav1 = create_df(df1,month_date1)
        dftmp2, qty2, mkt2, pnav2 = create_df(df2,month_date2)
        logging.debug("new df created")
        dftmpx1 = dftmp1[dftmp1['INDUSTRY'].notna()]
        logger.debug("df1_shape : %s",dftmpx1.shape)
        dftmpx2 = dftmp2[dftmp2['INDUSTRY'].notna()]
        logger.debug("df2_shape : %s",dftmpx2.shape)
        dftmpx1 = dftmp1[dftmp1['ISIN Code'].notna()]
        print(dftmpx1.columns)
        dftmpx2 = dftmp2[dftmp2['ISIN Code'].notna()]
        #dftmpx1 = dftmp1[dftmp1[nav].notna()]
        #dftmpx2 = dftmp2[dftmp2[nav].notna()]
        dftmp = pd.merge(dftmpx1, dftmpx2, how = 'outer', on = ['Stock_Name', 'INDUSTRY', 'ISIN Code'])
        dftmp = dftmp.replace(np.nan, 0)
        dftmp['change'] = dftmp[[qty1, qty2]].apply(lambda x: find_change(x[0],x[1]), axis=1)
        dftmp['change_val'] = dftmp[[qty1, qty2]].apply(lambda x: find_act_change(x[0],x[1]), axis=1)
        dftmp.to_excel(writer, sheet_name=name)
writer.save()

DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (693, 6)
DEBUG:root:df2_shape : (709, 6)

TAF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TBAF

DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (488, 6)
DEBUG:root:df2_shape : (410, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (18, 6)
DEBUG:root:df2_shape : (19, 6)

Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TBFSF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TDIF

DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (10, 6)
DEBUG:root:df2_shape : (10, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (40, 6)
DEBUG:root:df2_shape : (41, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (266, 6)

Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TEQPEF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TMIF

DEBUG:root:df2_shape : (259, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (42, 6)
DEBUG:root:df2_shape : (42, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (22, 6)
DEBUG:root:df2_shape : (22, 6)

Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TCS
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TFEF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')

DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (50, 6)
DEBUG:root:df2_shape : (50, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (30, 6)
DEBUG:root:df2_shape : (30, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created

TIFNA
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TIFSA
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TICF

DEBUG:root:df1_shape : (30, 6)
DEBUG:root:df2_shape : (30, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (17, 6)
DEBUG:root:df2_shape : (16, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (34, 6)
DEBUG:root:df2_shape : (38, 6)

Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TIPHF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TTSF96
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TISF

DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (32, 6)
DEBUG:root:df2_shape : (33, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (36, 6)
DEBUG:root:df2_shape : (36, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (25, 6)
DEBUG:root:df2_shape : (27, 6)

Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TEOF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TTOFE
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TINR

DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (44, 6)
DEBUG:root:df2_shape : (45, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (44, 6)
DEBUG:root:df2_shape : (45, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (50, 6)
DEBUG:root:df2_shape : (50, 6)

Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TMCAPF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TNETF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')

DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (10, 6)
DEBUG:root:df2_shape : (10, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (30, 6)
DEBUG:root:df2_shape : (0, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (28, 6)
DEBUG:root:df2_shape : (30, 6)

TNPBETF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TQNTF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TREF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TRSFM

DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (67, 6)
DEBUG:root:df2_shape : (64, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (49, 6)
DEBUG:root:df2_shape : (49, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (36, 6)
DEBUG:root:df2_shape : (36, 6)

Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TRSFP
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TSCAPF
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')

DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (45, 6)
DEBUG:root:df2_shape : (42, 6)
DEBUG:root:['29/02/20']
DEBUG:root: Month df1 : 2_29
DEBUG:root:['31-01-20']
DEBUG:root: Month df2 : 1_31
DEBUG:root:Assertion correct
DEBUG:root:new df created
DEBUG:root:df1_shape : (40, 6)
DEBUG:root:df2_shape : (39, 6)

TVFS1
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')
TVFS2
Index(['Stock_Name', 'INDUSTRY', 'ISIN Code', 'Quantity_2_29',
       'Market_val_2_29', 'pnav_2_29'],
      dtype='object')

In [63]:
dftmp

,Stock_Name,INDUSTRY,ISIN Code,Quantity_2_29,Market_val_2_29,pnav_2_29,Quantity_1_31,Market_val_1_31,pnav_1_31,change,change_val
0,HDFC BANK LTD,BANKS,INE040A01034,22856,269.16,11.002596,20580,252.37,10.801806,Increase,11
1,RELIANCE INDUSTRIES LTD,PETROLEUM PRODUCTS,INE002A01018,17155,227.93,9.317084,15454,218.16,9.337319,Increase,11
2,HOUSING DEVELOPMENT FINANCE CORPORATION LTD,FINANCE,INE001A01036,9121,198.45,8.112042,8213,198.26,8.485811,Increase,11
3,ICICI BANK LTD,BANKS,INE090A01021,33892,168.53,6.888913,30489,160.27,6.859526,Increase,11
4,INFOSYS LTD,SOFTWARE,INE009A01021,19276,141.04,5.765390,17350,134.63,5.762189,Increase,11
5,KOTAK MAHINDRA BANK LTD,BANKS,INE237A01028,7095,114.96,4.699373,6392,108.14,4.628361,Increase,10
6,TATA CONSULTANCY SERVICES LTD,SOFTWARE,INE467B01029,5512,110.25,4.506615,4960,103.12,4.413680,Increase,11
7,ITC LTD,CONSUMER NON DURABLES,INE154A01025,45985,90.84,3.713402,41395,97.34,4.166267,Increase,11
8,HINDUSTAN UNILEVER LTD,CONSUMER NON DURABLES,INE030A01027,3742,81.38,3.326533,3366,68.47,2.930709,Increase,11
9,AXIS BANK LTD,BANKS,INE238A01034,11668,81.36,3.325790,10495,76.54,3.275993,Increase,11
10,LARSEN & TOUBRO LTD,CONSTRUCTION PROJECT,INE018A01030,6462,76.74,3.136878,5813,79.60,3.406851,Increase,11
11,BHARTI AIRTEL LTD,TELECOM - SERVICES,INE397D01024,11787,61.70,2.522311,8847,43.92,1.879861,Increase,33
12,BAJAJ FINANCE LTD,FINANCE,INE296A01024,1365,60.96,2.491813,1230,53.70,2.298440,Increase,10
13,STATE BANK OF INDIA,BANKS,INE062A01020,20044,60.73,2.482594,18025,57.40,2.456806,Increase,11
14,MARUTI SUZUKI INDIA LTD,AUTO,INE585B01010,699,43.92,1.795270,629,43.49,1.861242,Increase,11
15,ASIAN PAINTS (INDIA) LTD,CONSUMER NON DURABLES,INE021A01026,2342,42.11,1.721247,2105,37.80,1.617812,Increase,11
16,INDUSIND BANK LTD,BANKS,INE095A01012,3188,35.20,1.438751,2870,36.13,1.546358,Increase,11
17,HCL TECHNOLOGIES LTD,SOFTWARE,INE860A01027,5767,30.82,1.259663,5196,30.73,1.315239,Increase,10
18,NESTLE INDIA LTD,CONSUMER NON DURABLES,INE239A01016,183,28.88,1.180335,163,25.04,1.071563,Increase,12
19,BAJAJ FINSERV LTD,FINANCE,INE918I01018,315,28.51,1.165397,283,26.72,1.143608,Increase,11
20,TITAN COMPANY LTD,CONSUMER DURABLES,INE280A01028,2144,26.90,1.099447,1924,22.85,0.978103,Increase,11
21,ULTRATECH CEMENT LTD,CEMENT,INE481G01011,593,25.02,1.022833,534,23.58,1.009333,Increase,11
22,NTPC LTD,POWER,INE733E01010,22741,24.23,0.990471,20399,23.02,0.985291,Increase,11
23,TECH MAHINDRA LTD,SOFTWARE,INE669C01036,3249,24.19,0.988632,2924,23.29,0.996947,Increase,11
24,POWER GRID CORPORATION OF INDIA LTD,POWER,INE752E01010,12555,22.79,0.931477,11317,21.15,0.905063,Increase,10
25,MAHINDRA & MAHINDRA LTD,AUTO,INE101A01026,4894,22.37,0.914337,4390,24.90,1.065655,Increase,11
26,SUN PHARMACEUTICAL INDUSTRIES LTD,PHARMACEUTICALS,INE044A01036,5712,21.30,0.870681,5144,22.34,0.956192,Increase,11
27,BAJAJ AUTO LTD,AUTO,INE917I01010,697,20.14,0.823397,628,19.97,0.854767,Increase,10
28,DR REDDYs LABORATORIES LTD,PHARMACEUTICALS,INE089A01023,648,18.97,0.775338,584,18.19,0.778494,Increase,10
29,BRITANNIA INDUSTRIES LTD,CONSUMER NON DURABLES,INE216A01030,618,18.36,0.750331,556,17.80,0.761683,Increase,11
30,WIPRO LTD,SOFTWARE,INE075A01022,8014,17.75,0.725444,7232,17.13,0.732984,Increase,10
31,BHARAT PETROLEUM CORPORATION LTD,PETROLEUM PRODUCTS,INE029A01011,4103,17.49,0.715067,3681,16.82,0.719928,Increase,11
32,COAL INDIA LTD,MINERALS/MINING,INE522F01014,9966,16.78,0.686028,8960,16.28,0.696815,Increase,11
33,OIL & NATURAL GAS CO.,OIL,INE213A01029,17895,16.45,0.672608,16108,17.55,0.751144,Increase,11
34,TATA STEEL LTD,FERROUS METALS,INE081A01012,3948,15.07,0.616077,3550,15.57,0.666577,Increase,11
35,UPL LTD,PESTICIDES,INE628A01036,2823,14.67,0.599711,2534,13.34,0.571085,Increase,11
36,ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD,TRANSPORTATION,INE742F01042,4174,14.28,0.583863,3769,13.92,0.595905,Increase,10
37,GRASIM INDUSTRIES LTD,CEMENT,INE047A01021,2034,13.98,0.571364,1826,14.22,0.608747,Increase,11
38,HERO MOTOCORP LTD,AUTO,INE158A01026,676,13.87,0.566957,608,15.21,0.651057,Increase,11
39,INDIAN OIL CORPORATION LTD,PETROLEUM PRODUCTS,INE242A01010,12726,13.46,0.550112,11388,12.92,0.552976,Increase,11
40,EICHER MOTORS LTD,AUTO,INE066A01013,79,13.12,0.536137,71,14.41,0.616566,Increase,11
41,JSW STEEL LTD,FERROUS METALS,INE019A01038,5431,12.80,0.523261,4897,12.28,0.525459,Increase,10
42,TATA MOTORS LTD,AUTO,INE155A01022,9617,12.40,0.506920,8674,15.32,0.655638,Increase,10
43,HINDALCO INDUSTRIES LTD,NON - FERROUS METALS,INE038A01020,7600,11.85,0.484327,6831,12.93,0.553610,Increase,11
44,VEDANTA LTD,NON - FERROUS METALS,INE205A01025,9573,10.91,0.446099,8614,11.88,0.508421,Increase,11
45,CIPLA LTD,PHARMACEUTICALS,INE059A01026,2631,10.58,0.432448,2364,10.56,0.452181,Increase,11
46,GAIL ( INDIA ) LTD,GAS,INE129A01019,9375,9.79,0.400083,8402,10.12,0.433155,Increase,11
47,BHARTI INFRATEL LTD,TELECOM - EQUIPMENT & ACCESSORIES,INE121J01017,4461,9.57,0.391054,4013,9.96,0.426481,Increase,11
48,ZEE ENTERTAINMENT ENTERPRISES LTD,MEDIA & ENTERTAINMENT,INE256A01028,3718,8.90,0.363690,3324,8.95,0.382921,Increase,11
49,YES BANK LTD,BANKS,INE528G01027,10038,3.47,0.141972,8871,3.48,0.149028,Increase,13

In [47]:
df_temp = df1.copy()
date = df_temp.iloc[3:4,1]
date
date1 = re.sub(r'[a-zA-Z]',"",str(date))
pat = re.compile(r'\d\d[-/]\d\d[-/]\d{2,4}')
date
date2 = re.search(date_pat2,str(date))
date2.group()
date3 = date2.group()
date4 = datetime.datetime.strptime(date3, "%d/%m/%y")
x = re.search('/',str(date))

3    as on 29/02/20
Name: TATA ARBITRAGE FUND, dtype: object

In [100]:
import numpy as np
import pandas as pd
import re

In [101]:
df1 = pd.read_excel('./data/monthly-portfolio-as-on-31st-january-2020.xls', sheet_name='TEQPEF')

FileNotFoundError: [Errno 2] No such file or directory: './data/monthly-portfolio-as-on-31st-january-2020.xls'

In [4]:
df2 = pd.read_excel('./data/monthly-portfolio-as-on-29th-february-2020.xls', sheet_name='TEQPEF')

In [43]:
month_year = '012020'
qty = 'Quantity_'+month_year

In [24]:
def create_df(df, month_date):
    qty = 'Quantity_'+month_date
    mkt_val = 'Market_val_'+month_date
    nav = 'pnav_'+month_date
    dftmp = df.iloc[8:,1:7]
    dftmp = dftmp.rename(columns = {df.columns[1]:'Stock_Name', 'Unnamed: 2' : 'INDUSTRY', 'Unnamed: 3' : 'ISIN Code',
       'Unnamed: 4' : qty, 'Unnamed: 5' : mkt_val, 'Unnamed: 6': nav })
    return dftmp

In [7]:
dftmp1 = create_df(df1,'012020')
dftmp2 = create_df(df2,'022020')

In [8]:
dftmpx1 = dftmp1[dftmp1['INDUSTRY'].notna()]
dftmpx2 = dftmp2[dftmp2['INDUSTRY'].notna()]

In [19]:
dftmp = pd.merge(dftmpx1, dftmpx2, how = 'outer', on = ['Stock_Name', 'INDUSTRY', 'ISIN Code'])
dftmp = dftmp.replace(np.nan, 0)

In [20]:
def find_change(old, new):
    old = int(old)
    new = int(new)
    if old==0:
        return "New"
    elif new == 0:
        return "Sold"
    elif old > new:
        return "Decrease"
    elif old == new:
        return "No Change"
    elif old < new:
        return "Increase"

In [40]:
def find_act_change(old, new):
    old = int(old)
    new = int(new)
    if old == 0:
        return 100
    elif new == 0:
        return 0
    else:
        chg = abs(new - old)*100/ old
        return int(chg)

In [21]:
dftmp['change'] = dftmp[['Quantity_012020', 'Quantity_022020']].apply(lambda x: find_change(x[0],x[1]), axis=1)

In [39]:
dftmp['change_val'] = dftmp[['Quantity_012020','Quantity_022020']].apply(lambda x: find_act_changect_change(x[0],x[1]), axis=1)

1990000
1990000
2900000
2850000
6730000
6400000
14600000
7200000
2385000
3135000
1400000
600000
525000
525000
3550000
3150000
23000
20952
908976
908976
4000000
4000000
5400000
4900000
709746
709746
650000
650000
1375000
1325000
2800000
2600000
12400000
12400000
2120000
2120000
470000
0
2170000
2170000
720000
755000
4883866
4883866
3635000
3685000
1028200
1028200
708000
708000
821000
1271000
1629287
1629287
1000000
1000000
26000
26000
2950000
2950000
293000
293000
1059750
1059750
170000
170000
1631000
1446000
710000
710000
165000
165000
389000
389000
1281768
231768
630000
1000000
1869763
0
1108508
1108508
0
1460000

In [22]:
dftmpx1

,Stock_Name,INDUSTRY,ISIN Code,Quantity_012020,Market_val_012020,pnav_012020
8,HOUSING DEVELOPMENT FINANCE CORPORATION LTD,FINANCE,INE001A01036,1990000,48038.6,9.49227
9,HDFC BANK LTD,BANKS,INE040A01034,2900000,35562.7,7.02707
10,ICICI BANK LTD,BANKS,INE090A01021,6730000,35376.2,6.99023
11,ITC LTD,CONSUMER NON DURABLES,INE154A01025,14600000,34331.9,6.78387
12,RELIANCE INDUSTRIES LTD,PETROLEUM PRODUCTS,INE002A01018,2385000,33667.8,6.65265
13,LARSEN & TOUBRO LTD,CONSTRUCTION PROJECT,INE018A01030,1400000,19170.2,3.78797
14,BAJAJ AUTO LTD,AUTO,INE917I01010,525000,16695.3,3.29893
15,BHARAT PETROLEUM CORPORATION LTD,PETROLEUM PRODUCTS,INE029A01011,3550000,16221.7,3.20536
16,MRF LTD,AUTO ANCILLARIES,INE883A01011,23000,16025.2,3.16652
17,ACC LTD,CEMENT,INE012A01025,908976,13676.5,2.70242
18,STATE BANK OF INDIA,BANKS,INE062A01020,4000000,12738,2.51699
19,CITY UNION BANK LTD,BANKS,INE491A01021,5400000,12487.5,2.46749
20,SUNDARAM FINANCE LTD,FINANCE,INE660A01013,709746,11653,2.30259
21,KOTAK MAHINDRA BANK LTD,BANKS,INE237A01028,650000,10996.4,2.17285
22,MUTHOOT FINANCE LTD,FINANCE,INE414G01012,1375000,10486.4,2.07208
23,MAHINDRA AND MAHINDRA FINANCIAL SERVICES LTD,FINANCE,INE774D01024,2800000,10341.8,2.0435
24,ASHOK LEYLAND LTD,AUTO,INE208A01029,12400000,10161.8,2.00794
25,SUN TV NETWORK LTD,MEDIA & ENTERTAINMENT,INE424H01027,2120000,10060.5,1.98791
26,TATA CONSULTANCY SERVICES LTD,SOFTWARE,INE467B01029,470000,9771.54,1.93082
27,CIPLA LTD,PHARMACEUTICALS,INE059A01026,2170000,9697.73,1.91624
28,INDUSIND BANK LTD,BANKS,INE095A01012,720000,9063.72,1.79096
29,DCB BANK LTD,BANKS,INE503A01015,4883866,8710.38,1.72114
30,RALLIS INDIA LTD,PESTICIDES,INE613A01020,3635000,8558.61,1.69115
31,VOLTAS LTD,CONSUMER DURABLES,INE226A01021,1028200,7137.76,1.4104
32,CEAT LTD,AUTO ANCILLARIES,INE482A01020,708000,7109.38,1.40479
33,ESCORTS LTD,AUTO,INE042A01014,821000,6597.97,1.30374
34,RADICO KHAITAN LTD,CONSUMER NON DURABLES,INE944F01028,1629287,6457.68,1.27602
35,HDFC LIFE INSURANCE CO. LTD,FINANCE,INE795G01014,1000000,5992,1.184
36,3M INDIA LTD,COMMERCIAL SERVICES,INE470A01017,26000,5975.13,1.18066
37,EXIDE INDUSTRIES LTD,AUTO ANCILLARIES,INE302A01020,2950000,5815.93,1.14921
38,JUBILANT FOODWORKS LTD,CONSUMER NON DURABLES,INE797F01012,293000,5538.43,1.09438
39,ICICI PRUDENTIAL LIFE INSURANCE COMPANY LTD,FINANCE,INE726G01019,1059750,5414.79,1.06994
40,HDFC ASSET MANAGEMENT COMPANY LTD,FINANCE,INE127D01025,170000,5396.14,1.06626
41,FUTURE RETAIL LTD,RETAILING,INE752P01024,1631000,5378.22,1.06272
42,TATA CHEMICALS LTD,CHEMICALS,INE092A01019,710000,5333.52,1.05389
43,DR REDDYs LABORATORIES LTD,PHARMACEUTICALS,INE089A01023,165000,5138.93,1.01543
44,ICICI LOMBARD GENERAL INSURANCE CO. LTD,FINANCE,INE765G01017,389000,5128.58,1.01339
45,FINOLEX CABLES LTD,INDUSTRIAL PRODUCTS,INE235A01022,1281768,5093.11,1.00638
46,GRASIM INDUSTRIES LTD,CEMENT,INE047A01021,630000,4907.07,0.96962
47,HINDUSTAN ZINC LTD,NON - FERROUS METALS,INE267A01025,1869763,3629.21,0.71712
48,PRINCE PIPES AND FITTINGS LTD,INDUSTRIAL PRODUCTS,INE689W01016,1108508,1950.42,0.385396

In [23]:
dftmpx2

,Stock_Name,INDUSTRY,ISIN Code,Quantity_022020,Market_val_022020,pnav_022020
8,HOUSING DEVELOPMENT FINANCE CORPORATION LTD,FINANCE,INE001A01036,1990000,43297.4,9.48005
9,RELIANCE INDUSTRIES LTD,PETROLEUM PRODUCTS,INE002A01018,3135000,41653.2,9.12004
10,HDFC BANK LTD,BANKS,INE040A01034,2850000,33563,7.34869
11,ICICI BANK LTD,BANKS,INE090A01021,6400000,31824,6.96792
12,BAJAJ AUTO LTD,AUTO,INE917I01010,525000,15172.5,3.32205
13,ITC LTD,CONSUMER NON DURABLES,INE154A01025,7200000,14223.6,3.11428
14,MRF LTD,AUTO ANCILLARIES,INE883A01011,20952,13910.7,3.04577
15,BHARAT PETROLEUM CORPORATION LTD,PETROLEUM PRODUCTS,INE029A01011,3150000,13430,2.94053
16,STATE BANK OF INDIA,BANKS,INE062A01020,4000000,12120,2.6537
17,ACC LTD,CEMENT,INE012A01025,908976,12006.2,2.62878
18,MUTHOOT FINANCE LTD,FINANCE,INE414G01012,1325000,11663.3,2.5537
19,SUNDARAM FINANCE LTD,FINANCE,INE660A01013,709746,11205.8,2.45354
20,INFOSYS LTD,SOFTWARE,INE009A01021,1460000,10682.8,2.33902
21,CITY UNION BANK LTD,BANKS,INE491A01021,4900000,10547.2,2.30934
22,KOTAK MAHINDRA BANK LTD,BANKS,INE237A01028,650000,10532.3,2.30606
23,ESCORTS LTD,AUTO,INE042A01014,1271000,9915.07,2.17092
24,MAHINDRA AND MAHINDRA FINANCIAL SERVICES LTD,FINANCE,INE774D01024,2600000,8924.5,1.95404
25,SUN TV NETWORK LTD,MEDIA & ENTERTAINMENT,INE424H01027,2120000,8808.6,1.92866
26,CIPLA LTD,PHARMACEUTICALS,INE059A01026,2170000,8725.57,1.91048
27,ASHOK LEYLAND LTD,AUTO,INE208A01029,12400000,8667.6,1.89779
28,INDUSIND BANK LTD,BANKS,INE095A01012,755000,8335.58,1.82509
29,RALLIS INDIA LTD,PESTICIDES,INE613A01020,3685000,8252.56,1.80691
30,DCB BANK LTD,BANKS,INE503A01015,4883866,7902.1,1.73018
31,CEAT LTD,AUTO ANCILLARIES,INE482A01020,708000,7230.1,1.58304
32,LARSEN & TOUBRO LTD,CONSTRUCTION PROJECT,INE018A01030,600000,7125.3,1.5601
33,VOLTAS LTD,CONSUMER DURABLES,INE226A01021,1028200,6978.91,1.52804
34,GRASIM INDUSTRIES LTD,CEMENT,INE047A01021,1000000,6872,1.50464
35,RADICO KHAITAN LTD,CONSUMER NON DURABLES,INE944F01028,1629287,6686.59,1.46404
36,HDFC LIFE INSURANCE CO. LTD,FINANCE,INE795G01014,1000000,5441,1.19132
37,3M INDIA LTD,COMMERCIAL SERVICES,INE470A01017,26000,5349.57,1.1713
38,HDFC ASSET MANAGEMENT COMPANY LTD,FINANCE,INE127D01025,170000,5340.38,1.16929
39,JUBILANT FOODWORKS LTD,CONSUMER NON DURABLES,INE797F01012,293000,5147.57,1.12707
40,TATA CHEMICALS LTD,CHEMICALS,INE092A01019,710000,5069.4,1.10995
41,ICICI PRUDENTIAL LIFE INSURANCE COMPANY LTD,FINANCE,INE726G01019,1059750,4995.66,1.09381
42,EXIDE INDUSTRIES LTD,AUTO ANCILLARIES,INE302A01020,2950000,4848.33,1.06155
43,DR REDDYs LABORATORIES LTD,PHARMACEUTICALS,INE089A01023,165000,4829.72,1.05748
44,ICICI LOMBARD GENERAL INSURANCE CO. LTD,FINANCE,INE765G01017,389000,4810.57,1.05328
45,FUTURE RETAIL LTD,RETAILING,INE752P01024,1446000,4389.33,0.961053
46,PRINCE PIPES AND FITTINGS LTD,INDUSTRIAL PRODUCTS,INE689W01016,1108508,1814.07,0.397195
47,FINOLEX CABLES LTD,INDUSTRIAL PRODUCTS,INE235A01022,231768,752.78,0.164823

In [41]:
dftmp

,Stock_Name,INDUSTRY,ISIN Code,Quantity_012020,Market_val_012020,pnav_012020,Quantity_022020,Market_val_022020,pnav_022020,change,change_val
0,HOUSING DEVELOPMENT FINANCE CORPORATION LTD,FINANCE,INE001A01036,1990000,48038.60,9.492265,1990000,43297.43,9.480052,No Change,0
1,HDFC BANK LTD,BANKS,INE040A01034,2900000,35562.70,7.027070,2850000,33563.03,7.348687,Decrease,1
2,ICICI BANK LTD,BANKS,INE090A01021,6730000,35376.25,6.990227,6400000,31824.00,6.967924,Decrease,4
3,ITC LTD,CONSUMER NON DURABLES,INE154A01025,14600000,34331.90,6.783868,7200000,14223.60,3.114284,Decrease,50
4,RELIANCE INDUSTRIES LTD,PETROLEUM PRODUCTS,INE002A01018,2385000,33667.85,6.652654,3135000,41653.18,9.120041,Increase,31
5,LARSEN & TOUBRO LTD,CONSTRUCTION PROJECT,INE018A01030,1400000,19170.20,3.787967,600000,7125.30,1.560098,Decrease,57
6,BAJAJ AUTO LTD,AUTO,INE917I01010,525000,16695.26,3.298928,525000,15172.50,3.322047,No Change,0
7,BHARAT PETROLEUM CORPORATION LTD,PETROLEUM PRODUCTS,INE029A01011,3550000,16221.73,3.205358,3150000,13430.03,2.940529,Decrease,11
8,MRF LTD,AUTO ANCILLARIES,INE883A01011,23000,16025.19,3.166524,20952,13910.70,3.045774,Decrease,8
9,ACC LTD,CEMENT,INE012A01025,908976,13676.45,2.702421,908976,12006.21,2.628782,No Change,0
10,STATE BANK OF INDIA,BANKS,INE062A01020,4000000,12738.00,2.516986,4000000,12120.00,2.653697,No Change,0
11,CITY UNION BANK LTD,BANKS,INE491A01021,5400000,12487.50,2.467488,4900000,10547.25,2.309340,Decrease,9
12,SUNDARAM FINANCE LTD,FINANCE,INE660A01013,709746,11652.96,2.302587,709746,11205.82,2.453536,No Change,0
13,KOTAK MAHINDRA BANK LTD,BANKS,INE237A01028,650000,10996.38,2.172847,650000,10532.28,2.306061,No Change,0
14,MUTHOOT FINANCE LTD,FINANCE,INE414G01012,1375000,10486.44,2.072085,1325000,11663.31,2.553704,Decrease,3
15,MAHINDRA AND MAHINDRA FINANCIAL SERVICES LTD,FINANCE,INE774D01024,2800000,10341.80,2.043505,2600000,8924.50,1.954036,Decrease,7
16,ASHOK LEYLAND LTD,AUTO,INE208A01029,12400000,10161.80,2.007937,12400000,8667.60,1.897787,No Change,0
17,SUN TV NETWORK LTD,MEDIA & ENTERTAINMENT,INE424H01027,2120000,10060.46,1.987913,2120000,8808.60,1.928659,No Change,0
18,TATA CONSULTANCY SERVICES LTD,SOFTWARE,INE467B01029,470000,9771.54,1.930822,0,0.00,0.000000,Sold,0
19,CIPLA LTD,PHARMACEUTICALS,INE059A01026,2170000,9697.73,1.916239,2170000,8725.57,1.910480,No Change,0
20,INDUSIND BANK LTD,BANKS,INE095A01012,720000,9063.72,1.790961,755000,8335.58,1.825090,Increase,4
21,DCB BANK LTD,BANKS,INE503A01015,4883866,8710.38,1.721141,4883866,7902.10,1.730178,No Change,0
22,RALLIS INDIA LTD,PESTICIDES,INE613A01020,3635000,8558.61,1.691152,3685000,8252.56,1.806913,Increase,1
23,VOLTAS LTD,CONSUMER DURABLES,INE226A01021,1028200,7137.76,1.410398,1028200,6978.91,1.528045,No Change,0
24,CEAT LTD,AUTO ANCILLARIES,INE482A01020,708000,7109.38,1.404790,708000,7230.10,1.583043,No Change,0
25,ESCORTS LTD,AUTO,INE042A01014,821000,6597.97,1.303736,1271000,9915.07,2.170923,Increase,54
26,RADICO KHAITAN LTD,CONSUMER NON DURABLES,INE944F01028,1629287,6457.68,1.276016,1629287,6686.59,1.464042,No Change,0
27,HDFC LIFE INSURANCE CO. LTD,FINANCE,INE795G01014,1000000,5992.00,1.183999,1000000,5441.00,1.191317,No Change,0
28,3M INDIA LTD,COMMERCIAL SERVICES,INE470A01017,26000,5975.13,1.180665,26000,5349.57,1.171297,No Change,0
29,EXIDE INDUSTRIES LTD,AUTO ANCILLARIES,INE302A01020,2950000,5815.93,1.149207,2950000,4848.33,1.061550,No Change,0
30,JUBILANT FOODWORKS LTD,CONSUMER NON DURABLES,INE797F01012,293000,5538.43,1.094376,293000,5147.57,1.127070,No Change,0
31,ICICI PRUDENTIAL LIFE INSURANCE COMPANY LTD,FINANCE,INE726G01019,1059750,5414.79,1.069945,1059750,4995.66,1.093809,No Change,0
32,HDFC ASSET MANAGEMENT COMPANY LTD,FINANCE,INE127D01025,170000,5396.14,1.066259,170000,5340.38,1.169286,No Change,0
33,FUTURE RETAIL LTD,RETAILING,INE752P01024,1631000,5378.22,1.062719,1446000,4389.33,0.961053,Decrease,11
34,TATA CHEMICALS LTD,CHEMICALS,INE092A01019,710000,5333.52,1.053886,710000,5069.40,1.109955,No Change,0
35,DR REDDYs LABORATORIES LTD,PHARMACEUTICALS,INE089A01023,165000,5138.93,1.015434,165000,4829.72,1.057475,No Change,0
36,ICICI LOMBARD GENERAL INSURANCE CO. LTD,FINANCE,INE765G01017,389000,5128.58,1.013389,389000,4810.57,1.053283,No Change,0
37,FINOLEX CABLES LTD,INDUSTRIAL PRODUCTS,INE235A01022,1281768,5093.11,1.006380,231768,752.78,0.164823,Decrease,81
38,GRASIM INDUSTRIES LTD,CEMENT,INE047A01021,630000,4907.07,0.969620,1000000,6872.00,1.504637,Increase,58
39,HINDUSTAN ZINC LTD,NON - FERROUS METALS,INE267A01025,1869763,3629.21,0.717120,0,0.00,0.000000,Sold,0
40,PRINCE PIPES AND FITTINGS LTD,INDUSTRIAL PRODUCTS,INE689W01016,1108508,1950.42,0.385396,1108508,1814.07,0.397195,No Change,0
41,INFOSYS LTD,SOFTWARE,INE009A01021,0,0.00,0.000000,1460000,10682.82,2.339023,New,100

In [64]:
sheet_new

['Index',
 'TAF',
 'TBAF',
 'TMIF',
 'TLF',
 'TSTBF',
 'TTMFSP1',
 'TIPF',
 'TFF',
 'TFRSTF',
 'TVFS1',
 'TVFS2',
 'TSCAPF',
 'TRSFP',
 'TRSFM',
 'TREF',
 'TQNTF',
 'TNPBETF',
 'TNETF',
 'TMCAPF',
 'TINR',
 'TTOFE',
 'TEOF',
 'TISF',
 'TTSF96',
 'TIPHF',
 'TICF',
 'TIFSA',
 'TIFNA',
 'TFEF',
 'TCS',
 'TEQPEF',
 'TDIF',
 'TBFSF',
 'TUSTF',
 'TRSFC',
 'TOF',
 'TIFA',
 'TGSFR',
 'TDBF',
 'TBPSUF',
 'TYCF',
 'TEGF',
 'TFM53A',
 'TFM53B',
 'TFM54A',
 'TFM55A',
 'TFM55B',
 'TFM55D',
 'TFM55E',
 'TFM55F',
 'TFM55G',
 'TFM55I',
 'TFM56A',
 'TFM56B',
 'TFM56C',
 'TFM56D',
 'TFM56F']

In [65]:
df_temp = df_new.parse(sheet_new[0])
df_temp = df_temp[df_temp['Index'] == 'Equity']
sheet_names = df_temp['Unnamed: 1'].tolist()

In [73]:
df_temp.head()

     Index Unnamed: 1                              Unnamed: 2
30  Equity        TAF                     TATA ARBITRAGE FUND
31  Equity       TBAF            TATA BALANCED ADVANTAGE FUND
32  Equity      TBFSF  TATA BANKING & FINANCIAL SERVICES FUND
33  Equity       TDIF                 TATA DIGITAL INDIA FUND
34  Equity     TEQPEF                    TATA EQUITY P/E FUND

In [107]:
df1 = pd.read_excel('./data_all/monthly-portfolio-as-on-29th-february-2020.xls', sheet_name='TAF')

In [103]:
df1 = create_df(df1, '022020')

In [108]:
dftmp = df1.iloc[8:,1:7]

In [111]:
dftmp = dftmp.rename(columns = {'Unnamed: 3' : 'ISIN'})

In [112]:
dftmp['ISIN']

8      INE397D01024
9      INE062A01020
10     INE018A01030
11     INE154A01025
12     INE090A01021
           ...
737             NaN
738             NaN
739             NaN
740             NaN
741             NaN
Name: ISIN, Length: 734, dtype: object

In [ ]:
isin_pat = re.compile(r'I')

In [123]:
def isincheck(data):
    print(data)
    try:
        if data.startswith('IN'):
            print(data)
            return "yes"
        else:
            return "no"
    except Exception:
        print("except")
        return "no"

In [124]:
dftmp['ISIN_check'] = dftmp[['ISIN']].apply(lambda x : isincheck(x[0]), axis=1)

INE397D01024
INE397D01024
INE062A01020
INE062A01020
INE018A01030
INE018A01030
INE154A01025
INE154A01025
INE090A01021
INE090A01021
INE854D01024
INE854D01024
INE047A01021
INE047A01021
INE095A01012
INE095A01012
INE001A01036
INE001A01036
INE585B01010
INE585B01010
INE238A01034
INE238A01034
INE009A01021
INE009A01021
INE171A01029
INE171A01029
INE776C01039
INE776C01039
INE271C01023
INE271C01023
INE038A01020
INE038A01020
INE158A01026
INE158A01026
INE044A01036
INE044A01036
INE192A01025
INE192A01025
INE089A01023
INE089A01023
INE814H01011
INE814H01011
INE476A01014
INE476A01014
INE040A01034
INE040A01034
INE102D01028
INE102D01028
INE424H01027
INE424H01027
INE917I01010
INE917I01010
INE988K01017
INE988K01017
INE318A01026
INE318A01026
INE237A01028
INE237A01028
INE280A01028
INE280A01028
INE795G01014
INE795G01014
INE055A01016
INE055A01016
INE742F01042
INE742F01042
INE176A01028
INE176A01028
INE628A01036
INE628A01036
INE481G01011
INE481G01011
INE012A01025
INE012A01025
INE030A01027
INE030A01027
INE021A01026
INE021A01026
INE239A01016
INE239A01016
INE160A01022
INE160A01022
INE406A01037
INE406A01037
INE115A01026
INE115A01026
INE042A01014
INE042A01014
INE522D01027
INE522D01027
INE486A01013
INE486A01013
INE003A01024
INE003A01024
INE774D01024
INE774D01024
INE935A01035
INE935A01035
INE121A01024
INE121A01024
INE205A01025
INE205A01025
INE918I01018
INE918I01018
INE059A01026
INE059A01026
INE101A01026
INE101A01026
INE545U01014
INE545U01014
INE020B01018
INE020B01018
INE155A01022
INE155A01022
INE749A01030
INE749A01030
INE296A01024
INE296A01024
INE423A01024
INE423A01024
INE334L01012
INE334L01012
INE079A01024
INE079A01024
INE216A01030
INE216A01030
INE081A01012
INE081A01012
INE092A01019
INE092A01019
INE002S01010
INE002S01010
INE361B01024
INE361B01024
INE226A01021
INE226A01021
INE647A01010
INE647A01010
INE686F01025
INE686F01025
INE203G01027
INE203G01027
INE259A01022
INE259A01022
INE134E01011
INE134E01011
INE245A01021
INE245A01021
INE414G01012
INE414G01012
INE075A01022
INE075A01022
INE860A01027
INE860A01027
INE070A01015
INE070A01015
INE002A01018
INE002A01018
INE129A01019
INE129A01019
INE019A01038
INE019A01038
INE797F01012
INE797F01012
INE323A01026
INE323A01026
INE326A01037
INE326A01037
INE323A01026
INE323A01026
INE070A01015
INE070A01015
INE797F01012
INE797F01012
INE326A01037
INE326A01037
INE002A01018
INE002A01018
INE239A01016
INE239A01016
INE918I01018
INE918I01018
INE647A01010
INE647A01010
INE019A01038
INE019A01038
INE296A01024
INE296A01024
INE216A01030
INE216A01030
INE860A01027
INE860A01027
INE414G01012
INE414G01012
INE361B01024
INE361B01024
INE129A01019
INE129A01019
INE259A01022
INE259A01022
INE481G01011
INE481G01011
INE686F01025
INE686F01025
INE585B01010
INE585B01010
INE002S01010
INE002S01010
INE917I01010
INE917I01010
INE030A01027
INE030A01027
INE075A01022
INE075A01022
INE226A01021
INE226A01021
INE089A01023
INE089A01023
INE021A01026
INE021A01026
INE092A01019
INE092A01019
INE003A01024
INE003A01024
INE203G01027
INE203G01027
INE176A01028
INE176A01028
INE012A01025
INE012A01025
INE237A01028
INE237A01028
INE158A01026
INE158A01026
INE318A01026
INE318A01026
INE280A01028
INE280A01028
INE001A01036
INE001A01036
INE081A01012
INE081A01012
INE042A01014
INE042A01014
INE486A01013
INE486A01013
INE040A01034
INE040A01034
INE101A01026
INE101A01026
INE334L01012
INE334L01012
INE545U01014
INE545U01014
INE059A01026
INE059A01026
INE406A01037
INE406A01037
INE095A01012
INE095A01012
INE134E01011
INE134E01011
INE774D01024
INE774D01024
INE795G01014
INE795G01014
INE628A01036
INE628A01036
INE055A01016
INE055A01016
INE423A01024
INE423A01024
INE121A01024
INE121A01024
INE018A01030
INE018A01030
INE079A01024
INE079A01024
INE102D01028
INE102D01028
INE935A01035
INE935A01035
INE115A01026
INE115A01026
INE009A01021
INE009A01021
INE238A01034
INE238A01034
INE424H01027
INE424H01027
INE047A01021
INE047A01021
INE742F01042
INE742F01042
INE854D01024
INE854D01024
INE749A01030
INE749A01030
INE155A01022
INE155A01022
INE044A01036
INE044A01036
INE245A01021
INE245A01021
INE192A01025
INE192A01025
INE020B01018
INE020B01018
INE522D01027
INE522D01027
INE090A01021
INE090A01021
INE205A01025
INE205A01025
INE397D01024
INE397D01024
INE271C01023
INE271C01023
INE476A01014
INE476A01014
INE062A01020
INE062A01020
INE038A01020
INE038A01020
INE988K01017
INE988K01017
INE154A01025
INE154A01025
INE160A01022
INE160A01022
INE171A01029
INE171A01029
INE814H01011
INE814H01011
INE776C01039
INE776C01039
nan
except
ISIN CODE
nan
except
nan
except
nan
except
INE020B08AN6
INE020B08AN6
INE020B08948
INE020B08948
INE115A07JC2
INE115A07JC2
INE020B08BR5
INE020B08BR5
nan
except
nan
except
INE090A166V8
INE090A166V8
INE975F14RX3
INE975F14RX3
INE261F16421
INE261F16421
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
Duration  Of Term Deposit (No of Days)
456
except
458
except
547
except
548
except
548
except
609
except
609
except
609
except
609
except
609
except
608
except
608
except
608
except
608
except
608
except
609
except
609
except
609
except
609
except
608
except
608
except
608
except
609
except
608
except
608
except
607
except
607
except
608
except
547
except
547
except
368
except
278
except
369
except
367
except
366
except
368
except
734
except
734
except
367
except
732
except
732
except
732
except
366
except
732
except
397
except
766
except
366
except
732
except
497
except
369
except
368
except
369
except
370
except
368
except
373
except
369
except
390
except
708
except
366
except
366
except
366
except
366
except
nan
except
nan
except
nan
except
nan
except
Future price when purchased
1832.12806956522
except
1439.68030833333
except
501.109375581395
except
737.208872685185
except
240.87599137931
except
53.8442080246914
except
1731.14241136364
except
3070.29823529412
except
545.744916693679
except
9526.91221935484
except
2924.61495826087
except
4854.300315
except
383.952343283582
except
416.019659224442
except
1339.94765714286
except
551.137461024306
except
156.363862068966
except
676.458159455128
except
319.749763829787
except
3094.65840110092
except
2128.52178571429
except
215.817643716578
except
812.655901636364
except
113.996065373034
except
86.2576941176471
except
724.519942342342
except
211.212991666667
except
621.248583552632
except
107.578519872516
except
292.238316436252
except
24.9646430283224
except
1213.83483937008
except
2233.77488341463
except
177.003360191638
except
2253.67716190476
except
2331.66556343434
except
614.027171428571
except
551.437704189435
except
540.320885037879
except
207.547607906712
except
779.364936873156
except
1175.47445201613
except
455.646407575758
except
172.308191666667
except
249.850130434783
except
1761.6478
except
1674.33781030928
except
710.107571428571
except
1257.4163597897
except
377.065070784024
except
493.660023188406
except
13036.04625
except
6332.07658479532
except
366.592876470588
except
353.130610416667
except
178.223660465116
except
917.936333333333
except
1008.87087070707
except
16481.5025737705
except
1552.83698235294
except
49.6567459888334
except
126.724700948767
except
1445.311
except
126.981697619048
except
405.285609743017
except
1380.49972867133
except
326.610833712121
except
133.507045264848
except
23523.6018
except
4096.62135058824
except
452.471440740741
except
746.695004659498
except
173.013560328317
except
422.121387619048
except
363.130278734915
except
52.9125320512821
except
1273.89289497436
except
586.368365938069
except
4330.2296852459
except
700.214429730496
except
1259.32711825397
except
342.739618194254
except
690.110076923077
except
234.3531625
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except

nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except
nan
except

In [126]:
dftmp[dftmp['ISIN_check'] == 'yes']

,TATA ARBITRAGE FUND,Unnamed: 2,ISIN,Unnamed: 4,Unnamed: 5,Unnamed: 6,ISIN_check
8,BHARTI AIRTEL LTD,TELECOM - SERVICES,INE397D01024,323925,1695.75,2.47746,yes
9,STATE BANK OF INDIA,BANKS,INE062A01020,528000,1599.84,2.33734,yes
10,LARSEN & TOUBRO LTD,CONSTRUCTION PROJECT,INE018A01030,118875,1411.7,2.06247,yes
11,ITC LTD,CONSUMER NON DURABLES,INE154A01025,703200,1389.17,2.02956,yes
12,ICICI BANK LTD,BANKS,INE090A01021,264000,1312.74,1.9179,yes
...,...,...,...,...,...,...,...
183,** 08.75 % LIC HOUSING FINANCE LTD - 21/12/2020,CRISIL- AAA,INE115A07JC2,60,610.42,0.891814,yes
184,** 08.50 % REC LTD - 20/12/2021,CRISIL- AAA,INE020B08BR5,50,516.52,0.754626,yes
187,** - ICICI BANK LTD - CD - 14/09/2020,ICRA- A1+,INE090A166V8,1000,970.15,1.41738,yes
188,** - KOTAK MAHINDRA INVESTMENTS LTD - CP - 30/...,CRISIL- A1+,INE975F14RX3,100,495.14,0.723394,yes
189,** - NABARD - CD - 12/06/2020,CRISIL- A1+,INE261F16421,500,492.24,0.719159,yes